---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="fr">
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
        body {
            background-image: url('/res/test2.gif'); /* Chemin vers le GIF */
            background-size: cover; /* Pour que le GIF couvre tout l'arrière-plan */
            background-position: center; /* Pour centrer le GIF */
            background-repeat: no-repeat; /* Pour éviter de répéter le GIF */
            height: 100vh; /* Pour s'assurer que le body prend toute la hauteur de la fenêtre */
            margin: 0; /* Pour éviter les marges par défaut */
        }
    </style>
</head>
<body>

<Header />
<main>
    <h1>🧑👋 Bonjour et bienvenue sur ma page !</h1>
    <p>
        Je me nomme Jayson Malet et je suis développeur. Cette page est un espace où je partage mes projets et mes expériences en développement.
    </p>
    <p>
        Vous trouverez ici des informations sur mes réalisations, ainsi que des articles et des tutoriels sur des sujets qui me passionnent.
    </p>
    <p>N'hésitez pas à explorer et à me contacter si vous avez des questions ou si vous souhaitez discuter de projets !</p>
    <ul>
        <!-- Ajoutez du contenu ici si nécessaire -->
    </ul>
    <p>
        Amusez-vous bien ! Si vous avez besoin d'aide, consultez ma page github <a href="https://github.com/jayjay1509">Github</a>
    </p>
</main>
<Footer />
</body>
</html>
