---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="fr">
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
        body {
            background-image: url('/res/test2.gif'); /* Chemin vers le GIF */
            background-size: cover; /* Pour que le GIF couvre tout l'arrière-plan */
            background-position: center; /* Pour centrer le GIF */
            background-repeat: no-repeat; /* Pour éviter de répéter le GIF */
            height: 100vh; /* Pour s'assurer que le body prend toute la hauteur de la fenêtre */
            margin: 0; /* Pour éviter les marges par défaut */
        }
    </style>
</head>
<body>

<Header />
<main>
    <h1>🧑👋 Hello and welcome to my page!</h1>
    <p>
        My name is Jayson Malet and I am a developer. This page is a space where I share my projects and my experiences in development.
    </p>
    <p>
        Here you will find information about my achievements, as well as articles and tutorials on subjects that fascinate me.
    </p>
    <p>Feel free to explore and contact me if you have any questions or would like to discuss projects!</p>
    <ul>
        <!-- Add content here if necessary -->
    </ul>
    <p>
        Have fun! If you need help, check out my github page <a href="https://github.com/jayjay1509">Github</a>
    </p>
</main>
<Footer />
</body>
</html>
